<!-- <div id='resetpwdDialog'>
    <form id='fmresetpwdDialog' name='fmresetpwdDialog'>
    <p><input type='text' name='username' placeholder='#{options.default.translate 'Enter username'}' /><span>* </span><span id='username_err_info'></span></p>
    <p><input type='email' name='email' placeholder='#{options.default.translate 'Enter email'}' /><span>* </span><span id='email_err_info'></span></p>
    <p><input type='text' name='code' placeholder='#{options.default.translate 'Enter char in box'}' /><span>* </span><span id='verify_err_info'></span> <img id='validate' src='admin/checkNum_session.php' align='absmiddle' style='border:#CCCCCC 1px solid; cursor:pointer;' title='#{options.default.translate 'Click get another pin'}' width=50 height=20 /></p>
    <p><input type='hidden' name='language' value='#{options.default.languageid-1}' /><input type='hidden' name='type' value='ResetPassword' /><input type='hidden' name='action' value='custom_resetPassword' /><input type='hidden' name='token' value='#{token}' /> </p>
    </form>
</div> -->
<!-- 找回密码框 -->
<div class="modal fade" id="resetpwdModal">
    <div class="modal-dialog">
      <div class="modal-content">
   
        <!-- 找回密码框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">{{'Reset password' | translate:languageid}}</h4>
          <button type="button" #resetpwdButton class="close" data-dismiss="modal">&times;</button>
        </div>
   
        <!-- 找回密码框主体 -->
        <div class="modal-body">
          <form id='fmResetPassword' class="login-form" >
                      <div class="form-group">
                          <div class="col-sm-10 username">
                              <input type="text" class="form-control" #formResetpwd [(ngModel)]="rs.model.data[0]" name='username' required placeholder="emma.watson@gmail.com" (blur)="rs.validateInput(0)" (focus)="rs.model.setActive(2)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[0] | translate:languageid}}"/>
                <span class="user-icon icon" [style.color]="rs.model.color[0]">u</span>
                <!-- <span class="check-icon icon">c</span><span id='p_pwd_err_info'></span> -->
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-10 email">
                              <input type="email" class="form-control" #formResetpwd [(ngModel)]="rs.model.data[3]" name='email' required placeholder="xyz@163.com" (blur)="rs.validateInput(3)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[3] | translate:languageid}}"/>
                              <span class="email-icon" [style.color]="rs.model.color[3]">✉️</span>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-10 verification">
                              <input type="text" class="form-control" #formResetpwd [(ngModel)]="rs.model.data[4]" name="code" required placeholder="1234" (blur)="rs.validateInput(4)" data-toggle="tooltip" data-placement="right" title="{{rs.model.info[4] | translate:languageid}}"/>
                              <img src="{{rs.urlValidate}}" align='absmiddle' #validcode style="border:#CCCCCC 1px solid; cursor:pointer;" alt='{{"Click get another pin" | translate:languageid}}' width="50" height="20" (click)="rs.resetValidate(formResetpwd)"/>	
                          </div>
                      </div>
            
          </form>
        </div>
   
        <!-- 注册框底部 -->
        <div class="modal-footer">
              <button type="submit" #resetpwdButton class="btn btn-primary" [disabled]="!rs.enregister" (click)="resetpwd()">{{"Submit" | translate:languageid}}</button>
              <button type="button" #resetButton class="btn btn-secondary" data-dismiss="modal">{{"Cancel" | translate:languageid}}</button>
        </div>
   
      </div>
    </div>
  </div>
