<table class="table table-striped">
  <thead>
      <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Item ID</th>
          <th>Item Name</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{'Material' | translate:languageid}}</td>
          <td>{{kind.kindNames(goods.classid) | translate:languageid}}</td>
          <td>{{'Length' | translate:languageid}}</td>
          <td>{{goods.length}} {{goods.unitlen | unit:languageid}}</td>
      </tr>
      <tr>
        <td>{{'Type' | translate:languageid}}</td>
        <td>{{kind.kindNames(goods.classid) | translate:languageid}}</td>
        <td>{{'Width' | translate:languageid}}</td>
        <td>{{goods.width}} {{goods.unitwid | unit:languageid}}</td>
    </tr>
    <tr>
      <td>{{'Weight' | translate:languageid}}</td>
      <td>{{goods.weight}}kg</td>
      <td>{{'Think' | translate:languageid}}</td>
      <td>{{goods.think}} {{goods.unitthi | unit:languageid}}</td>
  </tr>
</tbody>
</table>
