<div class="goods">
  <h3>
    <h4 style='text-align:center;'>{{preNames | translate:_parent.languageid}}{{' - ' + aGoods.size}}</h4>
  </h3>
  <div class="row clearfix">
    <div class="media product-top">
      <img class="align-self-start" src="http://192.168.1.16/woo/images/good/{{aGoods.picture}}" class="media-object img-rounded" >
      <div class="media-body ml-3">
        <p><label>{{'Code' | translate:languageid}}: </label>{{aGoods.id}}</p>
        <p><label>{{'Price' | translate:languageid}}: </label><b>$</b>{{aGoods.price}}</p>
        <p><label>{{'Evaluation' | translate:languageid}}: </label><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star-o"></span>(4 people to participate in the evaluation)</p>
        <p><label>{{'Purchase quantity' | translate:languageid}}: </label><span><input type='number' class="" ngModel="{{buynum|number}}" /></span></p>
        <p><label><button class="btn btn-outline-primary btn-sm mr-3"><span class="fa fa-shopping-cart"></span> {{'Add to cart' | translate:languageid}}</button></label><button class="btn btn-outline-primary btn-sm"><span class="fa fa-plus"></span> {{'With focus on' | translate:languageid}}</button></p>
      </div>
    </div>
  </div>
  <div class="col goods-info">
    <ul class="nav nav-tabs">
      <li class="nav-item">
         <a class="nav-link" routerLinkActive="active" routerLink='./introduction'>{{'Introduction' | translate:languageid}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="./param">{{'Parameters' | translate:languageid}}</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="./index">{{'Physicochemical index' | translate:languageid}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h4>
        产品评价
      </h4>
      <div class="row clearfix">
        <div class="col-md-2 column">
        </div>
        <div class="col-md-6 column">
        </div>
        <div class="col-md-4 column">
        </div>
      </div>
      <div class="tabbable" id="tabs-95396">
        <ul class="nav nav-tabs">
          <li class="active">
             <a href="#panel-164505" data-toggle="tab">Section 1</a>
          </li>
          <li>
             <a href="#panel-425776" data-toggle="tab">Section 2</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel-164505">
            <p>
              I'm in Section 1.
            </p>
          </div>
          <div class="tab-pane" id="panel-425776">
            <p>
              Howdy, I'm in Section 2.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tabbable" id="tabs-406740">
    <ul class="nav nav-tabs">
      <li class="active">
         <a href="#panel-812811" data-toggle="tab">Section 1</a>
      </li>
      <li>
         <a href="#panel-17540" data-toggle="tab">Section 2</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="panel-812811">
        <p>
          I'm in Section 1.
        </p>
      </div>
      <div class="tab-pane" id="panel-17540">
        <p>
          Howdy, I'm in Section 2.
        </p>
      </div>
    </div>
  </div>
  </div>
