div.row.clearfix{
    margin-left: 0;
}
.product-top{
    img{
        width:227px;
        border-radius: 5px;
    }
    div p{
        font-size: smaller;
        margin-bottom: 0px;
        line-height: 15px;
        label{
            width:116px;
            text-align: right;
            margin-right: 10px;
        }
    }
}
.fa-star,.fa-star-half-o{
    color: orange;
}
.fa-star-o{
    color: #ddd;
}
.goods-info{
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    margin: 15px 0px 15px 0;
    padding:5px;
    .tab-content{
        border-left: 1px solid #dddddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
}
