<h4>{{'Physico index' | translate:languageid}}</h4>
<table class="table table-striped">
  <thead>
      <tr>
          <th>{{'ITEM' | translate:languageid}}</th>
          <th>{{'UNIT' | translate:languageid}}</th>
          <th>{{'SPEC' | translate:languageid}}</th>
          <th>{{'ENVIRONMENT' | translate:languageid}}</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of physicos">
          <td>{{item.names | translate:languageid}}</td>
          <td>{{item.unit}}</td>
          <td>{{item.operator}}{{item.value}}</td>
          <td>{{item.environment}}</td>
      </tr>
  </tbody>
</table>
<h4>{{'Chemical index' | translate:languageid}}</h4>
<table class="table table-striped">
  <thead>
      <tr>
          <th>{{'ITEM' | translate:languageid}}</th>
          <th>{{'UNIT' | translate:languageid}}</th>
          <th>{{'SPEC' | translate:languageid}}</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of chemicalshows">
          <td>{{item}}</td>
          <td>%</td>
          <td>{{chemicals[item | lowercase]}}</td>
      </tr>
  </tbody>
</table>
