<div class="goods-class">
  <h4 style='text-align:center;'>{{preNames | translate:_parent.languageid}}{{aGoodsClass.names | translate:_parent.languageid}}</h4>
  <div class="row clearfix">
    <div class="media">
      <div class="media-left">
      <img src="http://192.168.1.16/woo/images/good/{{aGoodsClass.picture}}" class="media-object" style="float:left;margin-right:20px;width:453px">
      <h4 class="media-heading">{{'Profile' | translate:languageid}}</h4>
      <p *ngFor="let doc of introduction()">{{doc}}</p>
      </div>
    </div>

  </div>
</div>
