<div class='top'>
  <p>{{'Brand name' | translate:languageid}}: {{'YunRui' | translate:languageid}}</p>
  <p>{{'Applicable industries' | translate:languageid}}: {{'YunRui' | translate:languageid}}</p>
  <p>{{'Place of Origin' | translate:languageid}}: {{'Chinese Mainland' | translate:languageid}}</p>
  <p>{{'Valuation unit' | translate:languageid}}: {{'Chinese Mainland' | translate:languageid}}</p>
</div>
<div id='technology' appItemResize>
    <img src="../../../../assets/images/N4Si3Patten.jpg" width="98%" style="z-index:-100;position:absolute;left:10;top:200">
  <div class='left'>
    <p class='title'>{{'CONTINUOUS IMPROVEMENT' | translate:languageid}}</p>
    <p>{{'Over the past'| translate:languageid}}{{' '+companyYears+' '}}{{'years'| translate:languageid}}, {{'on the basis of UK core technology, Yunrui continuously innovates and improves the appearance and internal quality of products.' | translate:languageid}}</p>
  </div>
  <div class='right'>
    <p>{{'More stable quality' | translate:languageid}}</p>
    <p>{{'Smoother surface' | translate:languageid}}</p>
    <p>{{'The corners are more straight' | translate:languageid}}</p>
    <p>{{'More uniform density' | translate:languageid}}</p>
    <p>{{'More stable quality' | translate:languageid}}</p>
  </div>
</div>