<div id='top'>
  <div id="topheader">
    <div id="title"><p>{{qiye.names | translate:languageid}}</p></div>
      <!--向右对齐-->
      <ul>
        <li>
          <div class="dropdown">
            <div class="user-icon icon" data-toggle="dropdown">
              <div [hidden]="logined">👤</div>
              <div [hidden]="!logined">
                <img  src="{{rooturl}}images/user/u00000046.jpg" width="45" height="45"/>
              </div>
            </div>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="dropdown-submenu pull-left">
                <a class="dropdown-item" tabindex="-1" href="#"><span class="fa fa-language"></span>{{'Language' | translate:languageid}}</a>
                <div class="dropdown-menu">
                  <div class="dropdown-item" tabindex="-1" *ngFor="let item of languages; let i = index" (click)="selectChangeLanguage(i)">
                    <!-- <span class="language-icon">{{ i==languageid? 'c':' '}}</span> -->
                    <span class="fa {{ i==languageid? 'fa-check-square':'fa-square-o'}}"></span>
                    {{item.names[i]}}
                    </div>
                </div>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" tabindex="-1" [hidden]="logined" data-toggle="modal" data-target="#logonModal">{{'Sign up' | translate:languageid}}</a>
              <a class="dropdown-item" tabindex="-1" [hidden]="logined" data-toggle="modal" data-target="#loginModal">{{'Sign in' | translate:languageid}}</a>
              <a class="dropdown-item" tabindex="-1"  [hidden]="!logined"(click)="logout()">{{logtext | translate:languageid}}</a>
            </div>
          </div>
        </li>
      </ul>
  </div>
  <nav class="navbar navbar-expand-sm bg-light" role="navigation">
    <div class="container-fluid">
      <!--向左对齐-->
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item"><a class="nav-link" routerLink="/home">🏠{{'Home' | translate:languageid}}</a></li>
        <li  class="nav-item" *ngFor="let menu of navigations"><a class="nav-link" routerLink='/{{menu.command}}'  routerLinkActive="active">{{menu.names | translate:languageid}}</a></li>
      </ul>
      <form class="navbar-form navbar-right" style="display: inherit;" role="search">
          <input type="text" class="form-control" placeholder="{{'Search' | translate:languageid}}">
          <button type="button" class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-search" aria-hidden="true">🔍</span>
          </button>
      </form>
    </div>
  </nav>
  <img src="../assets/images/aaaa.jpg" height="136" />
</div>
<router-outlet></router-outlet>
<!--<div class="row clearfix">
  <div class="col-md-4 column">
    <div class="list-group">
       <a href="#" class="list-group-item active">{{'News' | translate:languageid}}</a>
      <div class="list-group-item" ng-repeat="new in news" ng-class="{cur:$index==selRow}" ng-click="choose($index)">
        <h4 class="list-group-item-text">
          {{new.titles[languageid]}}
        </h4>
      </div>
      <a class="list-group-item active"> <span class="badge">{{selRow+1}} / {{news.length}}</span> Help</a>
    </div>
  </div>
  <div class="col-md-8 column">
    <h4 style='text-align:center;'>{{news[selRow].titles[languageid]}}</h4>
    <h5 style='text-align:center;'>{{news[selRow].time}}</h5>
    <p>{{news[selRow].contents[languageid]}}</p>
  </div>
</div>-->
<div id="bottom">
  <p>  {{"Copyright" | translate:languageid}} &copy; 2010 {{qiye.names | translate:languageid}} {{"All right reserved" | translate:languageid}}!</p>
  <p>
    <span>
      {{"Address" | translate:languageid}}: {{qiye.addresses | translate:languageid}}
    </span>
    <span>
      {{"Tel" | translate:languageid}}: {{qiye.tel}}
    </span>{{"ICP" | translate:languageid}}: {{ qiye.icp}}
  </p>
</div>
 
<app-login></app-login>
<app-register></app-register>
<app-reset-password></app-reset-password>