<div id='top'>
  <div id="topheader">
    <div id="title"><p>{{qiye.names | translate:languageid}}</p></div>
        <!--向右对齐-->
        <ul>
          <li>
            <select class="selectpicker" [(ngModel)]="languageid" (change)="selectChangeLanguage($event.target.value)">
               <option *ngFor="let item of languages; let i = index" [value]="i">{{item.name_en}}</option>
            </select>
          </li>
          <li><span class="user-icon icon">u</span></li>
        </ul>
  </div>
  <nav class="navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/home">{{'Home' | translate:languageid}}</a>
      </div>
      <div>
        <!--向左对齐-->
        <ul class="nav navbar-nav navbar-left">
          <li *ngFor="let menu of navigations"><a routerLink='/{{menu.command}}'>{{menu.names | translate:languageid}}</a></li>
        </ul>
        <div>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="{{'Search' | translate:languageid}}">
            </div>
    <button type="button" class="btn btn-default btn-md">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </button>
    </form>
        </div>
      </div>
    </div>
  </nav>
  <img src="../assets/images/aaaa.jpg" height="136" />
</div>
<router-outlet></router-outlet>
<!--<div class="row clearfix">
  <div class="col-md-4 column">
    <div class="list-group">
       <a href="#" class="list-group-item active">{{'News' | translate:languageid}}</a>
      <div class="list-group-item" ng-repeat="new in news" ng-class="{cur:$index==selRow}" ng-click="choose($index)">
        <h4 class="list-group-item-text">
          {{new.titles[languageid]}}
        </h4>
      </div>
      <a class="list-group-item active"> <span class="badge">{{selRow+1}} / {{news.length}}</span> Help</a>
    </div>
  </div>
  <div class="col-md-8 column">
    <h4 style='text-align:center;'>{{news[selRow].titles[languageid]}}</h4>
    <h5 style='text-align:center;'>{{news[selRow].time}}</h5>
    <p>{{news[selRow].contents[languageid]}}</p>
  </div>
</div>-->
<div id="bottom">
  <p>  {{"Copyright" | translate:languageid}} &copy; 2010 {{qiye.names | translate:languageid}} {{"All right reserved" | translate:languageid}}!</p>
  <p>
    <span>
      {{"Address" | translate:languageid}}: {{qiye.addresses | translate:languageid}}
    </span>
    <span>
      {{"Tel" | translate:languageid}}: {{qiye.tel}}
    </span>{{"ICP" | translate:languageid}}: {{ qiye.icp}}
  </p>
</div>
