@import "../commons/scss/login.scss";
.col-sm-10{
	max-width: 100%;
}
.row{
	margin: 0 0px;
}
.news-item{
	cursor:pointer;
}
.contact-items p label{
	margin-right: 10px;
}
.products{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap:wrap;
}
.goodshead span{
	float:right;
	font-size:smaller;
	cursor:pointer;
}
.goods{
	width:180px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	border:1px solid #ddd;
	border-radius:5px;
	margin:10px;
	padding-bottom:20px;
	font-size:smaller;
	color:#666666;
	cursor:pointer;
}
.goods img{
	width:174px;
	margin:3px 3px 20px 3px;
	border-radius:3px;
}
